@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
//Colors
$color_brand-1: #0a3556;
$color_brand-2: #11f4bd;
$color_brand-3: #e3fbf5;
$color_brand-4: #6c92b0;
$color_brand-5: #112b3c;
$color_brand-6: #8095a6;

$color_neutral--1: #ffffff;
//Fonts
$font_family--1: "Montserrat", sans-serif;
